* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, serif;
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
}

.container {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 24px 0 40px;
}

#add-book {
    width: 102px;
    height: 32px;
    margin-bottom: 32px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #8e10f1;
    color: #d2d2d2;
    box-shadow: 2px 2px 3px #3f086a;
}

.books {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book {
    width: 256px;
    height: 255px;
    background: #fff;
    margin: 0 32px 16px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #000;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 16px 0 24px;
}

.author {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 140px;
}

.sub-content {
    display: flex;
    font-size: 14px;
}

.page-count {
    width: 80px;
    margin: 0 70px 0 24px;
}

.read {
    width: 61px;
    text-align: right;
    margin-right: 24px;
}

.not-read {
    color: #fd5959;
}

.read {
    color: #5cd03f;
}

form {
    width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 178px;
    height: 24px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

li {
    margin-bottom: 32px;
    display: flex;
}

label {
    width: 61px;
    font-size: 16px;
    text-align: right;
    margin-right: 30px;
}

.form-radio {
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.form-radio > label,  input {
    margin: 0;
    margin-right: 0;
}

.form-radio > label,
.form-radio > input {
    width: auto;
}

:root {
    --radio-border-color: #8e10f1;
    --radio-checked-color: #3f086a;
    --radio-hover-color: #a3cef1;
    --radio-disabled-bg-color: #d9d9d9;
}

input[type="radio"] {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 2px solid var(--radio-border-color);
    border-radius: 50%;
    appearance: none;
    background-color: transparent;
    outline: none;
}

input[type="radio"]:not(:disabled):checked {
    border-color: var(--radio-checked-color);
    background-color: var(--radio-checked-color);
    background-clip: content-box;
    padding: 2px;
    background-image: radial-gradient(
      circle,
      var(--radio-checked-color) 0%,
      var(--radio-checked-color) 50%,
      transparent 60%,
      transparent 100%
    );
}

button {
    width: 102px;
    height: 32px;
    margin-bottom: 32px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #8e10f1;
    color: #d2d2d2;
    box-shadow: 2px 2px 3px #3f086a;
}



